* {
    margin: 0;
    padding: 0;
    font-family: NeueHaas;
    font-style: normal;
    font-size: 1em;
    color: black;
    letter-spacing: 0.01em;
    -webkit-overflow-scrolling: touch;
    text-align: center;
    --lh: 1.3rem;
    line-height: var(--lh);
}

@font-face {
    font-family: NeueHaas;
    src: url("fonts/NeueHaas55.otf");
    font-weight: normal;
}

@font-face {
    font-family: NeueHaasItalic;
    src: url("NeueHaas56Italic.otf");
    font-weight: italic;
}

a {
    color: black;
}

body {
    float: left;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

@media (pointer: fine) {

    body > section :not(#screen--desktop) {
        display: none;
    }

    #screen--desktop {
        width: 100vw;
        height: 100vh;
        background-image: url("img/screen--desktop.png");
        background-size: cover;
        background-position: center;
        display: block !important;
    }

}

@media (pointer:coarse) {

    /* body */

    body {
        overflow: hidden;
    }

    /* Wrapper */

    .wrapper--auswahl,
    .wrapper--spiel {
        top: 0;
        left: 0;
        max-width: 100vw !important;
        max-height 100vh !important;
        left: 0;
        float: left;
        flex: 1;
        display: flex;
        transition: 700ms;
        overflow: hidden;
    }

    .wrapper--auswahl {
        z-index: 10;
    }

    .wrapper--spiel {
        z-index: 20
    }

    #wrapper--auswahl--inner {
        width: 500vw;
        height: 100vh;
        left: 0vw;
        z-index: 11;
        position: absolute;
        transition: 500ms;
        overflow: hidden;
        pointer-events: none;
    }

    #wrapper--spiel--inner--1,
    #wrapper--spiel--inner--2,
    #wrapper--spiel--inner--3,
    #wrapper--spiel--inner--4,
    #wrapper--spiel--inner--5 {
        width: 300vw;
        height: 100vh;
        z-index: 21;
        left: 0vw;
        position: absolute;
        transition: 500ms;
        overflow: hidden;
        pointer-events: none;
    }

    /* Screens */

    [class^="screen"],
    [id^="screen"] {
        width: 100vw;
        height: 100vh;
        position: relative;
        float: left;
        background-color: white;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    .screen--auswahl,
    .screen--spiel {
        min-width: min-content;
        position: absolute;
    }

    .screen--auswahl {
        background-size: cover;
        background-position: center;
    }

    #screen--desktop {
        display: none !important;
    }

    .screen--start--end {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 40;
        background-size: cover;
        background-position: center;
        transition: 500ms;
    }

    #screen--launch {
        background-image: url("img/screen--launch.png");
    }

    #screen--hero {
        background-image: url("img/screen--hero.jpg");
    }

    #screen--intro,
    #screen--info,
    #screen--kunst {
        position: fixed;
        top: 0;
        left: 0;
        transition: 700ms;
    }

    #screen--intro {
        z-index: 33;
    }

    #screen--kunst {
        z-index: 32;
    }

    #screen--info {
        z-index: 31;
    }

    #auswahl--1 {
        background-image: url("img/auswahl--spiel--1.png");
        left: 0vw;
    }

    #auswahl--2 {
        background-image: url("img/auswahl--spiel--2.png");
        left: 100vw;
    }

    #auswahl--3 {
        background-image: url("img/auswahl--spiel--3.png");
        left: 200vw;
    }

    #auswahl--4 {
        background-image: url("img/auswahl--spiel--4.png");
        left: 300vw;
    }

    #auswahl--5 {
        background-image: url("img/auswahl--spiel--5.png");
        left: 400vw;
    }

    .screen--einleitung *,
    .screen--einleitung {
        background-color: rgba(100, 100, 100, 1);
        color: white !important;
        left: 0vw;
    }

    .screen--spielen {
        left: 100vw;
        background-color: rgba(200, 200, 200, 1);
    }

    .screen--werk {
        left: 200vw;
    }

    /* Overlay */

    .overlay--anleitung {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4rem;
    }

    /* Navigation */

    nav {
        width: calc(100vw - 2rem);
        max-height: 90vh;
        padding: 1rem 1rem 0rem 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
    }

    #screen--kunst > nav,
    #screen--info > nav,
    .screen--einleitung > nav,
    .screen--spielen > nav,
    .screen--werk > nav {
        justify-content: flex-end;
    }

    .wrapper--auswahl > nav,
    .wrapper--auswahl > footer {
        z-index: 15;
        position: absolute;
    }

    footer {
        width: 100%;
        bottom: 3rem;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .screen--einleitung > footer {
        background-color: rgba(0, 0, 0, 0);
    }

    /* Navigation Karusell */

    #wrapper--nav--carousel {
        position: absolute;
        bottom: 7rem;
        width: 100%;
        z-index: 15;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        pointer-events: none !important;
    }

    .dot {
        height: 1rem;
        width: 1rem;
        background-color: rgba(0, 0, 0, 0);
        border: solid black 0.1rem;
        border-radius: 50%;
        display: inline-block;
        margin: 0.5rem;
    }

    .active--carousel {
        background-color: black !important;
    }

    polyline {
        stroke: black;
        stroke-width: 0.1rem;
        fill: rgba(0, 0, 0, 0);
    }

    svg {
        margin: 0rem 0.5rem;
        pointer-events: auto !important;
    }

    .last > svg {
        margin-right: 0.5rem;
        transform: rotate(90deg);
    }

    .next > svg {
        margin-left: 0.5rem;
        transform: rotate(-90deg);
    }

    /* Navigation Audio */

    #play {
        height: 5rem;
        width: 5rem;
        border-radius: 2.5rem !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: rotate(-90deg);
    }

    #pause {
        height: 5rem;
        width: 5rem;
        border-radius: 2.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    svg {
        margin: 0;
        padding: 0;
    }

    /* Elemente */

    article,
    ol,
    dialog {
        max-height: auto;
        width: auto;
        padding: 4.8rem 1.5rem 2.4rem 1.5rem;
    }

    #article--konkret {
        padding: 4.8rem 1.5rem 3.6rem 1.5rem !important;
    }

    #article--enzweiler {
        padding: 0rem 1.5rem 2.4rem 1.5rem !important;
    }

    figure {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    img {
        max-width: 100%;
        max-height: 12rem;
    }

    figcaption {
        padding: 1rem 0rem 2rem 0rem;
    }

    svg {
        pointer-events: auto;
    }


    /* Buttons */

    button {
        background-color: white;
        border: black 1px solid;
        border-radius: 1.7rem;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        height: auto;
        pointer-events: auto !important;
    }

    nav > button {
        height: 3rem;
        width: 3rem;
    }

    .wrapper--nav--btns {
        position: absolute;
        width: 100vw;
        height: auto;
    }

    .screen--einleitung > footer > button,
    .screen--einleitung > nav > button {
        border: solid white 1px;
    }

    #btn--auswahl--1 {
        z-index: 15;
    }

    button:hover {
        cursor: pointer;
    }

    /* Font-Styles */

    h1 {
        font-style: normal;
        font-size: 2rem;
        line-height: 2.4rem;
        margin: 0rem 0rem 2.4rem 0rem;
    }

    h3 {
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.8rem;
        margin-bottom: 1.8rem;
        letter-spacing: 0.02rem;
    }

    ol {
        padding: 0rem 1rem 0rem 2rem !important;
    }


    li {
        text-align: left !important;
        padding: 0rem 0rem 0.7rem 2rem;
    }

    p {
        padding: 0rem 1rem 2.4rem 1rem;
        text-align: left !important;
    }

    q {
        font-style: italic;
    }

    /* JavaScript */

    .remove {
        display: none !important;
    }

    .hide {
        opacity: 0;
        z-index: 0 !important;
    }

    .slide-out--up {
        position: fixed !important;
        top: -100vh !important;
    }

    .slide-in--down {
        position: fixed !important;
        top: 0vh !important;
    }

    .slide-none {
        transform: translate(0vw) !important;
    }

    .slide-left-1 {
        transform: translate(-100vw) !important;
    }

    .slide-left-2 {
        transform: translate(-200vw) !important;
    }

    .slide-left-3 {
        transform: translate(-300vw) !important;
    }

    .slide-left-4 {
        transform: translate(-400vw) !important;
    }

    .slide-left-5 {
        transform: translate(0vw) !important;
    }

    .slide-right-1 {
        transform: translate(-400vw) !important;
    }

    .slide-right-2 {
        transform: translate(0vw) !important;
    }

    .slide-right-3 {
        transform: translate(-100vw) !important;
    }

    .slide-right-4 {
        transform: translate(-200vw) !important;
    }

    .slide-right-5 {
        transform: translate(-300vw) !important;
    }

    .truncate {
        --max-lines: 3 !important;
        position: relative !important;
        max-height: calc(var(--lh) * var(--max-lines)) !important;
        overflow: hidden !important;
        padding-right: 1rem !important;
        /* space for ellipsis */
        margin-bottom: 2.4rem;
    }

    .truncate::before {
        position: absolute !important;
        content: "…" !important;
        inset-block-end: 0 !important;
        /* "bottom" */
        inset-inline-end: 0 !important;
        /* "right" */
    }

    .truncate::after {
        content: "" !important;
        position: absolute !important;
        inset-inline-end: 0 !important;
        /* "right" */
        width: 1rem !important;
        height: 2rem !important;
        background: white !important;
    }

}


model-viewer {
    width: 300px;
    height: 300px;

}
