*{
    margin: 0;
    padding: 0;
    font-family: NeueHaas;
    font-style: normal;
    font-size: 1em;
    color: black;
    letter-spacing: 0.01em;
    -webkit-overflow-scrolling: touch;
    text-align: center;
    --lh: 1.3rem;
    line-height: var(--lh);    
}

@font-face{
    font-family:NeueHaas;
    src: url("fonts/NeueHaas55.otf");
    font-weight: normal;
}

@font-face{
    font-family:NeueHaasItalic;
    src: url("NeueHaas56Italic.otf");
    font-weight: italic;
}

a{
    color: black;
}

body{
    float: left;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

@media (pointer: fine){
    
    body > section :not(#screen--desktop){
        display: none;
    }
    
    #screen--desktop{
        width: 100vw;
        height: 100vh;
        background-image: url("img/screen--desktop.png");
        background-size: cover;        
        background-position: center;
        display: block !important;
    }

} 

@media (pointer:coarse){
    
/* body */    
        
/* Wrapper */ 
    
    .wrapper--total{
        top: 0;
        left: 0;
        width: 100vw !important;
        height 100vh !important;
        position: relative;
        overflow: hidden;
    }

    .wrapper--auswahl, .wrapper--spiel{
        top: 0;
        left: 0;
        width: 100% !important;
        height 100% !important;
        float: left;
        transition: 700ms;
    }
    
    .wrapper--auswahl{
        z-index: 10;
        position: fixed;
    }
    
    .wrapper--spiel{
        z-index: 20;
        position: fixed;
    }
    
    #wrapper--auswahl--inner{
        width: 500vw;
        height: 100vh;
        z-index: 11;
        transition: 500ms;
    }
    
    #wrapper--spiel--inner--1, #wrapper--spiel--inner--2, #wrapper--spiel--inner--3, #wrapper--spiel--inner--4, #wrapper--spiel--inner--5{
        width: 300vw;
        height: 100vh;
        z-index: 21;
        transition: 500ms;
    }
    
/* Screens */

    [class^="screen"], [id^="screen"]{
        width: 100vw;
        height: 100vh;
        float: left;
        background-color: white;
        display: flex;    
        flex-direction: column;
        overflow: scroll;
    }
    
    .screen--auswahl, .screen--spiel{
        position: absolute;
    }
    
    .screen--auswahl{
        background-color: rgba(200,200,200,1)
        /* background-size: cover;        
        background-position: center; */
    }
        
    #screen--desktop{
        display: none !important;
    }    
    
    .screen--start--end{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 40;
        background-color: rgba(200,200,200,1);
        transition: 500ms;
    } 
    
    #screen--intro, #screen--info, #screen--kunst{
        position: fixed; 
        top: 0;
        left: 0;
        transition: 700ms;        
    }    
    
    #screen--intro{
        z-index: 33;
    }
    
    #screen--kunst{
        z-index: 32;
    }    

    #screen--info{
        z-index: 31;
    }    
    
    #auswahl--1{
        left: 0vw;
    }
    
    #auswahl--2{
        left: 100vw;
    }
    
    #auswahl--3{
        left: 200vw;
    }   
    
    #auswahl--4{
        left: 300vw;
    }    
 
    #auswahl--5{
        left: 400vw;
    }  
    
    .screen--einleitung *, .screen--einleitung{
        background-color: rgba(100,100,100,1);
        color: white !important;
        left: 0vw;
        stroke: white;
    }
    
    .screen--spielen{
        left: 100vw;
        background-color: rgba(200,200,200,1);
    }
    
    .screen--werk{
        left: 200vw;
    }
    
/* Overlay */    
    
    .overlay--anleitung{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4rem;
    }    
    
/* Navigation */    
    
    nav{
        width: calc(100vw - 2.4rem);
        max-height: 90vh;
        padding: 1.2rem;
        padding-bottom: 0rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
    }
    
    #screen--kunst > nav, #screen--info > nav, .screen--einleitung > nav, .screen--spielen > nav, .screen--werk > nav{
        justify-content: flex-end;        
    } 
    
    .wrapper--auswahl > nav, .wrapper--auswahl > footer{
        z-index: 15;
        position: absolute;
    }
        
    footer{
        width: 100%;
        bottom: 3rem;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .screen--einleitung > footer{
        background-color: rgba(0,0,0,0);
    }
        
/* Navigation Karusell */    
    
    #wrapper--nav--carousel{
        position: absolute;
        bottom: 7rem;
        width: 100%;
        z-index: 15;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
    }        
    
    .dot{
        height: 1.2rem;
        width: 1.2rem;
        background-color: rgba(0,0,0,0);
        border: solid black 1px;
        border-radius: 50%;
        display: inline-block;
        margin: 0.6rem;
    }   

    .active--carousel{
        background-color: black !important;
    }       

    polyline{
        stroke: black;
        stroke-width: 1px;
        stroke-linecap: round;
        fill: rgba(0,0,0,0);
    }
        
    nav > button > svg{
        position: absolute;
    }
    
    #btn--info > svg{
        left: calc(1.5rem - 11px);
    }
    
    #btn--kunst > svg{
        left: calc(1.5rem - 8px);
    }    
    
    .btn--cancel > svg{
        left: calc(1.5rem - 10px)
    }
    
    span > svg{
        margin: 0rem 0.5rem;
    }
    
    .last > svg{
        margin-right: 1rem;
        transform: rotate(90deg);
    }
    
    .next > svg{
        margin-left: 1rem;
        transform: rotate(-90deg);
    }        
        
/* Navigation Audio */    
    
    [id^="play"]{
        height: 5rem;
        width: 5rem;
        border-radius: 2.5rem !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: rotate(-90deg);
    }
    
    [id^="pause"]{
        height: 5rem;
        width: 5rem;
        border-radius: 2.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    svg{
        margin: 0;
        padding: 0;
    }
    
/* Elemente */    

    article, ol, dialog{
        max-height: auto;
        width: auto;
        padding: 4.8rem 1.2rem 2.4rem 1.2rem;
    } 
    
    #article--konkret{
        padding: 4.8rem 1.2rem 3.6rem 1.2rem !important;
    }
    
    #article--enzweiler{
        padding: 0rem 1.2rem 2.4rem 1.2rem !important;
    }

    figure{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    img{
        max-width: 100%;
        max-height: 12rem;
    }
    
    figcaption{
        padding: 1rem 0rem 2rem 0rem;
    }            
        
/* Buttons */        

    button{
        height: auto;
        padding: 0.6rem 1.2rem;
        font-size: 1.2rem;
        background-color: rgba(0,0,0,0);
        border: black 1px solid;
        border-radius: 1.8rem;
        position: relative;
    }

    nav > button{
        height: 3rem;
        width: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
            
    .wrapper--nav--btns{
        position: absolute;
        width: 100vw;
        height: auto;
    }

    .screen--einleitung > footer > button, .screen--einleitung > nav > button {
        border: solid white 1px;
    }    
    
    #btn--auswahl--1{
        z-index: 15;
    }
    
    button:hover{
        cursor: pointer;
    }    
        
/* Font-Styles */    
    
    h1{
        font-style: normal;
        font-size: 2rem;
        line-height: 2.4rem;
        margin: 0rem 0rem 2.4rem 0rem;
    }
    
    h2{
        font-style: normal;
        font-weight: inherit;
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: 0.02rem;
    }
    
    ol{
        padding: 0rem 1.2rem 0rem 2.4rem !important;
    }
    
    
    li {
        text-align: left !important;
        padding: 0rem 0rem 0.7rem 2rem;
    }
    
    p{
        padding: 0rem 1rem 2.4rem 1rem;
        text-align: left !important;
    }
    
    q{
        font-style: italic;
    }    
        
/* JavaScript */    
    
    .remove{
        display: none !important;
    }
    
    .hide{
        opacity: 0;
        z-index: 0 !important;        
    }   
    
    .slide-out--up{
        position: fixed !important;
        top: -100vh !important;
    }
    
    .slide-in--down{
        position: fixed !important;
        top: 0vh !important;
    }
    
    .slide-0{
        transform: translate(0vw) !important;
    }
    
    .slide-left-1{
        transform: translate(-100vw) !important;
    } 
    
    .slide-left-2{
        transform: translate(-200vw) !important;        
    }

    .slide-left-3{
        transform: translate(-300vw) !important;
    }     
    
    .slide-left-4{
        transform: translate(-400vw) !important;
    } 
    
    .slide-left-5{
        transform: translate(0vw) !important;
    }    
    
    .slide-right-1{
        transform: translate(-400vw) !important;
    } 
    
    .slide-right-2{
        transform: translate(0vw) !important;
    } 
    
    .slide-right-3{
        transform: translate(-100vw) !important;
    } 
    
    .slide-right-4{
        transform: translate(-200vw) !important;
    } 
    
    .slide-right-5{
        transform: translate(-300vw) !important;
    } 
    
    .truncate {
          --max-lines: 3 !important;
          position: relative !important;
          max-height: calc(var(--lh) * var(--max-lines)) !important;
          overflow: hidden !important;
          padding-right: 1rem !important;/* space for ellipsis */
          margin-bottom: 2.4rem;
    }
    .truncate::before {
          position: absolute !important;
          content: "…" !important;
          inset-block-end: 0 !important; /* "bottom" */
          inset-inline-end: 0 !important; /* "right" */
    }
    .truncate::after {
          content: "" !important;
          position: absolute !important;
          inset-inline-end: 0 !important; /* "right" */
          width: 1rem !important;
          height: 2rem !important;
          background: white !important;
    }
        
}